Ads=
offsets_1=
offsets_2=
offsets_3=
offsets_4=
offsets_5=
offsets_6=
offsets_7=
offsets_8=
offsets_9=
offsets_10=
offsets_11=
offsets_12=
offsets_13=
offsets_14=
offsets_15=
offsets_16=
offsets_17=
offsets_18=
offsets_19=
offsets_20=
offsets_21=
offsets_22=
offsets_23=
offsets_24=
offsets_25=
offsets_26=
offsets_27=
offsets_28=
offsets_29=
offsets_30=
offsets_31=
offsets_32=
offsets_33=
offsets_34=
offsets_35=
offsets_36=
offsets_37=
offsets_38=
offsets_39=
offsets_40=
offsets_41=
offsets_42=
offsets_43=
offsets_44=
offsets_45=
offsets_46=
offsets_47=
offsets_48=
offsets_49=
offsets_50=
offsets_51=
offsets_52=
offsets_53=
offsets_54=
offsets_55=
offsets_56=
offsets_57=
offsets_58=
offsets_59=
offsets_60=
offsets_61=
offsets_62=
offsets_63=
offsets_64=
offsets_65=
offsets_66=
offsets_67=
offsets_68=
offsets_69=
offsets_70=
offsets_71=
offsets_72=
offsets_73=
offsets_74=
offsets_75=
offsets_76=
offsets_77=
offsets_78=
offsets_79=
offsets_80=
offsets_81=
offsets_82=
offsets_83=
offsets_84=
offsets_85=
offsets_86=
offsets_87=
offsets_88=
offsets_89=
offsets_90=
offsets_91=
offsets_92=
offsets_93=
offsets_94=
offsets_95=
offsets_96=
offsets_97=
offsets_98=
offsets_99=
offsets_100=
offsets_101=
offsets_102=
offsets_103=
offsets_104=
offsets_105=
offsets_106=
offsets_107=
offsets_108=
offsets_109=
offsets_110=
offsets_111=
offsets_112=
offsets_113=
offsets_114=
offsets_115=
offsets_116=
offsets_117=
offsets_118=
offsets_119=
offsets_120=
offsets_121=
offsets_122=
offsets_123=
offsets_124=
offsets_125=
offsets_126=
offsets_127=
offsets_128=
offsets_129=
offsets_130=
offsets_131=
offsets_132=
offsets_133=
offsets_134=
offsets_135=
offsets_136=
offsets_137=
offsets_138=
offsets_139=
offsets_140=
offsets_141=
offsets_142=
offsets_143=
